<div class="view-title">
  <h5 nz-title>Cotizar</h5>
</div>

<form style="position: relative;" [formGroup]="cotizarForm" id="cotizarForm" nz-form nzLayout="vertical"
  (ngSubmit)="handleOk()">
  <div *ngIf="isLoading" class="univ-loading-container">
    <nz-spin nzSimple></nz-spin>
  </div>
  <nz-input-group style="margin-bottom: 1.5em;">
    <nz-form-item nz-col nzSpan="12" style="margin-bottom: 0;">
      <nz-form-label>Cliente:</nz-form-label>
      <nz-form-control nzErrorTip="Ingrese su nombre">
        <input formControlName="cliente" placeholder="Cliente" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="12" style="margin-bottom: 0;">
      <nz-form-label>Contacto:</nz-form-label>
      <nz-form-control nzErrorTip="Ingrese un correo válido">
        <input formControlName="contacto" placeholder="Contacto" nz-input />
      </nz-form-control>
    </nz-form-item>
  </nz-input-group>
  <nz-form-item nz-col nzSpan="24" style="margin-bottom: 0;">
    <nz-form-label>Tipo de Producto:</nz-form-label>
    <nz-form-control nzErrorTip="Seleccione uno">
      <nz-select formControlName="codTipoProducto" style="width: 100%;" nzShowSearch nzAllowClear
        nzPlaceHolder="Seleccione uno...">
        <nz-option *ngFor="let item of listTipoProducto" [nzLabel]="item.nombreTipoProducto"
          [nzValue]="item.codTipoProducto"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-input-group style="margin-bottom: 1.5em;">
    <nz-form-item nz-col nzSpan="12" style="margin-bottom: 0;">
      <nz-form-label>Peso:</nz-form-label>
      <nz-form-control nzErrorTip="Ingrese el peso">
        <input formControlName="pesoProducto" placeholder="Peso" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="12" style="margin-bottom: 0;">
      <nz-form-label>Precio:</nz-form-label>
      <nz-form-control nzErrorTip="Ingrese el precio">
        <input formControlName="precioProducto" placeholder="Precio" nz-input />
      </nz-form-control>
    </nz-form-item>
  </nz-input-group>

  <button nz-button type="submit" [nzLoading]="isLoading" class="ant-btn-success" form="cotizarForm"
    nzType="primary">Cotizar</button>
</form>

<br>

<ng-container *ngIf="resultado">
  <div class="view-title">
    <h5 nz-title>Resultado</h5>
  </div>
  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="Cliente">
      {{cotizacion.cliente}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Contacto">
      {{cotizacion.contacto}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo Producto">
      {{cotizacion.tipoProducto}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Peso Producto">
      {{cotizacion.pesoProducto}} lbs.
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Precio Producto">
      $ {{cotizacion.precioProducto}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Flete">
      $ {{cotizacion.flete}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Combustible">
      $ {{cotizacion.combustible}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Seguro">
      $ {{cotizacion.seguro}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Aduanas">
      $ {{cotizacion.aduanas}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Impuestos">
      $ {{cotizacion.impuestos}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="IVA">
      $ {{cotizacion.iva}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Cargos de Importación">
      $ {{cotizacion.cargosImportacion}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Total">
      $ {{cotizacion.total}}
    </nz-descriptions-item>

  </nz-descriptions>
</ng-container>
