.view-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 7px;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.view-title>h5 {
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.view-subtitle>h6 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.univ-loading-container {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
